@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #2c3e50;

  --low-spacing: 0.5rem;
  --medium-spacing: 1rem;
  --high-spacing: 2rem;
  --huge-spacing: 5rem;
}

.button--icon {
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: var(--low-spacing);
}
